#root {

}

tr:nth-child(even) {
    background: #F2F2F2;
}

tr:nth-child(odd) {
    background: #FFF;
}

th, td {
    padding-left: 1rem;
    padding-right: 1rem;
}


/*home page styling start*/

#homecontainer {
    min-width: 100vw;
    min-height: 100vh;
}
img {
    height: 400px;
    width: 400px;
}